/**
 * -------------------------------------------------------------------------------------------------
 * .post__content
 * -------------------------------------------------------------------------------------------------
 */

.post--title {
	@include font-body();
	@include font-size(32);
	margin-bottom: 1em;
	
	.post__excerpt & { 
		@include font-size(24);
		margin-left: 0.5em; 
	}
}

.post {
	> :not(figure) { max-width: 35em; }
	figure { margin-bottom: 2em; }
	img { max-height: 75vh; }
}


/**
 * -------------------------------------------------------------------------------------------------
 * .archive__list
 * -------------------------------------------------------------------------------------------------
 */

.archive__list {
	@include no-bullets();
	margin-top: 2em;

	li {
		margin: 0.5em 0;

		time:before {
			content: "\2014";
			display: inline-block;
			margin: 0 0.5em;
		}
	}
}
