<!DOCTYPE html> 
<html class="no-js" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  	<meta http-equiv="cleartype" content="on">

	<title>{{ site.title }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">
	
	<script>(function(){document.documentElement.className='js'})();</script>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="site">

<header class="site__header" role="banner">
	<a href="{{ site.baseurl }}/" rel="home">
		<h1>{{ site.title }}</h1>
		<img src="{{ site.baseurl }}/assets/winter-right-arm.svg" alt="">
	</a>		
</header>

<main class="site__content">
