
<nav class="post__nav">
	
	{% if page.previous.url %}
		<article class="nav__excerpt previous">
			<a href="{{ site.baseurl }}{{ page.previous.url }}">
				<time>{{ page.previous.date | date_to_string }}</time>
				<h2 class="post--title">{{ page.previous.title }}</h2>
				{{ page.previous.excerpt }}
				<p class="style-as-link">Continue reading</p>
			</a>
		</article>
	{% endif %}

	{% if page.next.url %}
		<article class="nav__excerpt next">
			<a href="{{ site.baseurl }}{{ page.next.url }}">
				<time>{{ page.next.date | date_to_string }}</time>
				<h2 class="post--title">{{ page.next.title }}</h2>
				{{ page.next.excerpt }}
				<p class="style-as-link">Continue reading</p>
			</a>
		</article>
	{% endif %}

</nav><!-- .post__nav -->