
@mixin font-body() { 
	font-family: 'Open Sans', sans-serif; 
	font-style: normal;
	font-weight: 300;
}

@mixin font-bold() { 
	font-family: 'Open Sans', sans-serif; 
	font-style: normal;
	font-weight: 900;
}

