/**
 * -------------------------------------------------------------------------------------------------
 * .site__header
 * -------------------------------------------------------------------------------------------------
 */
 
 .site__header {
 	
	 a {
	 	display: flex;
	 	flex-direction: column-reverse;
	 	border-bottom: none;
	 }
 	
 	img {
 		width: 100px;
 		margin-bottom: 0.5em;
 	}
 }
 
